/.idea
/backend/homelab_back/target
/backend/.idea
/backend/homelab_back/.env
/postgres_data
/rabbitmq_data
/backend/homelab_back/.idea
/Nas
/infrastructure/.env
/infrastructure/*/terraform.tfvars
/infrastructure/*/terraform.tfstate
/infrastructure/*/terraform.tfstate.backup
/infrastructure/*/.terraform
/infrastructure/*/.terraform.lock.hcl