/.idea
/backend/.idea
/backend/homelab_back/.idea

/backend/homelab_back/target
/backend/homelab_back/.env
/Nas

/backend/homelab_back/apps/user-management/backend-key.json
/backend/homelab_back/apps/nas-server/backend-key.json
/backend/homelab_back/libs/core/src/auth/backend-key.json


/rabbitmq_data
/postgres_data
/infrastructure/.env
/infrastructure/*/terraform.tfvars
/infrastructure/*/terraform.tfstate
/infrastructure/*/terraform.tfstate.backup
/infrastructure/*/.terraform
/infrastructure/*/.terraform.lock.hcl